:root {
	--black: #000000;
	--dark: #3c2157;
	--links: #7226a1;
	--dark-blue: #5e0ec5;
	--light-blue: #60c;
	--light-purple: #8145d1;
	--light-1: #9260f3;
	--dark-blue: #32047a;
	--light-blue: #6881db;
	--light-4: #ff7999;
	--light-pink: #ee829a;
	--light-2: #ffbb36;
	--light-3: #ffc828;
	--dark-green: #295e62;
	--light-green: #c3e54d;
	--fp-white: #ffffff;
}
